@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>This is another page</title>
</head>
<body>
    <div>
        Redirected to another page.
    </div>
</body>
</html>
